{% extends "layout.html" %}

{% block content %}
  <div style="height: 2.6rem;"></div>

  <p class="text-center h2">Patients Table</p>

  <div style="height: 2rem;"></div>

  <div class="me-5 ms-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">PatientID</th>
          <th scope="col">PatientName</th>
          <th scope="col">PatientGender</th>
          <th scope="col">PatientBirthdate</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            <div class="dropdown">
              <th scope="row">
                <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ row.PatientID }}
                </a>
                <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="/patient/edit?id={{row.PatientID}}">Edit Patient</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/patient/delete?id={{row.PatientID}}">Remove Patient</a></li>
                </ul>
              </th>
            </div>
            <td> {{ row.PatientName }} </td>
            <td> {{ row.PatientGender }} </td>
            <td> {{ row.PatientBirthdate.date() }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
